Repository infinum/frontend-handbook, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fvoska, @DarkoKukovec, @kamdubiel, @veksi, @safo6m, @darrac, @mislavmiocevic

.github/CODEOWNERS:

# directories
Angular/** @fvoska
Code\ Quality/** @fvoska
Design/** @DarkoKukovec
Node/** @DarkoKukovec
React/** @kamdubiel
React\ Native/** @veksi
SASS\ Styleguide/** @fvoska

# individual files
Useful\ links.md @DarkoKukovec @fvoska
Accessibility.md @kamdubiel
Assets.md @kamdubiel
Email\ Templates.md @DarkoKukovec
How\ to\ CSS.md @DarkoKukovec @safo6m @darrac @fvoska
Predeployment\ checklist.md @DarkoKukovec
README.md @DarkoKukovec @safo6m @darrac @fvoska
Styleguide.md @DarkoKukovec @safo6m @darrac @fvoska
Vue.md @DarkoKukovec
intro.slim @DarkoKukovec @safo6m @darrac @fvoska
Auth.md @DarkoKukovec @kamdubiel
Testing.md @mislavmiocevic @kamdubiel

Add self closing tags section
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
Owners: @fvoska

Add ngSrc directive section
  Angular/Angular guidelines and best practices/Assets & caching.md
Owners: @fvoska

Add input transforms section
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
Owners: @fvoska

Refactor guard examples to functional ones and write new section
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
  Angular/Server-side rendering (SSR)/SEO and social media sharing.md
Owners: @fvoska

Rewrite DatX section
  Angular/Angular guidelines and best practices/DatX data store.md
Owners: @fvoska

Rewrite interface over type section
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
Owners: @fvoska

Add typed forms section
  Angular/Angular guidelines and best practices/Working with forms.md
Owners: @fvoska

Add route param component bindings
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
Owners: @fvoska

Add standalone component routing
  Angular/Angular guidelines and best practices/File and module organization and naming.md
Owners: @fvoska

Add built in control flow section
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
Owners: @fvoska

Add deferrable views section
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
Owners: @fvoska

Replace ExtractPublic implementation with the one in ngx-nuts-and-bolts
  Angular/Angular guidelines and best practices/Testing.md
Owners: @mislavmiocevic, @kamdubiel

Minor snippets fixes
  Styleguide.md
Owners: @DarkoKukovec, @safo6m, @darrac, @fvoska

Styleguide revamps (#205)
  Styleguide.md
Owners: @DarkoKukovec, @safo6m, @darrac, @fvoska

Format with Remark
  Angular/Angular guidelines and best practices/Localization.md
Owners: @fvoska

Add Package managers guidelines chapter
  Node/Package managers guildelines.md
Owners: @DarkoKukovec

Add Using Corepack in Docker section
  Node/Managing Node-NPM versions.md
Owners: @DarkoKukovec

Fix typo in guidelines chapter
  Node/Package managers guidelines.md
Owners: @DarkoKukovec

Fix typo in guidelines chapter file name
  Node/Package managers guidelines.md
Owners: @DarkoKukovec

Minor formatting changes
  Node/Package managers guidelines.md
Owners: @DarkoKukovec

Delete redundant whitespaces
  Node/Managing Node-NPM versions.md
Owners: @DarkoKukovec

Delete redundant whitespaces
  Node/Managing Node-NPM versions.md
Owners: @DarkoKukovec

Fix nested code snippets
  Angular/Angular guidelines and best practices/Localization.md
Owners: @fvoska

Add more pnpm commands examples
  Node/Package managers guidelines.md
Owners: @DarkoKukovec

React chapters updates
  React/Getting started/Ecosystem.md
  React/Getting started/NextJS.md
  React/Getting started/Official documentation.md
  React/Getting started/Other useful resources.md
  React/React hooks.md
Owners: @kamdubiel

Add Angular localization chapter (#209)
  Angular/Angular guidelines and best practices/Localization.md
Owners: @fvoska

Replace all npm scripts with pnpm (#207)
  Angular/Angular guidelines and best practices/Core libraries, configuration and tools.md
  Angular/Angular guidelines and best practices/DatX data store.md
  Changesets.md
  Code Quality/Tools.md
  Node/Managing Node-NPM versions.md
  Node/Node logging.md
  React Native/Project setup.md
  React Native/Styling.md
  React Native/Testing.md
  React/Chakra UI.md
  React/Recipes/Datx Store Provider.md
  React/Recipes/Error Handling.md
  React/Testing/Best practices.md
  Useful links.md
Owners: @fvoska, @DarkoKukovec, @veksi, @mislavmiocevic, @kamdubiel

Add Using Corepack in Docker section
  Node/Managing Node-NPM versions.md
Owners: @DarkoKukovec

Add more pnpm commands examples
  Node/Package managers guidelines.md
Owners: @DarkoKukovec

Fix typo in guidelines chapter file name
  Node/Package managers guidelines.md
Owners: @DarkoKukovec

Add --prefer-offline flag
  Node/Package managers guidelines.md
Owners: @DarkoKukovec

Minor formatting changes
  Node/Package managers guidelines.md
Owners: @DarkoKukovec

Add Package managers guidelines chapter
  Node/Package managers guildelines.md
Owners: @DarkoKukovec

Update Managing versions part
  Node/Managing Node-NPM versions.md
Owners: @DarkoKukovec

Delete redundant whitespaces
  Node/Managing Node-NPM versions.md
Owners: @DarkoKukovec

pnpm in NodeJS chapters (#208)
  Node/Managing Node-NPM versions.md
  Node/Package managers guidelines.md
Owners: @DarkoKukovec

React chapters updates
  React/Getting started/Ecosystem.md
  React/Getting started/NextJS.md
  React/Getting started/Official documentation.md
  React/Getting started/Other useful resources.md
  React/Libraries.md
  React/React hooks.md
  React/Recipes/Caching NextJS public folder.md
  React/Recipes/Error Handling.md
  React/Recipes/Keeping consistent values trough rerenders.md
  React/Recipes/Passenger setup.md
Owners: @kamdubiel

React chapters updates (#210)
  React/Getting started/Ecosystem.md
  React/Getting started/NextJS.md
  React/Getting started/Official documentation.md
  React/Getting started/Other useful resources.md
  React/Libraries.md
  React/React hooks.md
  React/Recipes/Caching NextJS public folder.md
  React/Recipes/Error Handling.md
  React/Recipes/Keeping consistent values trough rerenders.md
  React/Recipes/Passenger setup.md
Owners: @kamdubiel

Update deprecated frontend links
  How to CSS.md
  SASS Styleguide/Code quality.md
  Useful links.md
Owners: @DarkoKukovec, @safo6m, @darrac, @fvoska

Update deprecated frontend links (#211)
  How to CSS.md
  SASS Styleguide/Code quality.md
  Useful links.md
Owners: @DarkoKukovec, @safo6m, @darrac, @fvoska
