Repository infinum/frontend-handbook, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fvoska, @DarkoKukovec, @kamdubiel, @veksi, @safo6m, @darrac, @mislavmiocevic

Add Timers chapter and rearrange React chapters
  React/Testing/Best practices.md
  React/Testing/Timers.md
Owners: @kamdubiel

Add User actions chapter
  React/Testing/Best practices.md
  React/Testing/User actions.md
Owners: @kamdubiel

Update User actions URL
  React/Testing/Best practices.md
Owners: @kamdubiel

Update User actions URL
  React/Testing/Best practices.md
Owners: @kamdubiel

Add Timers, User actions chapters and rearrange React chapters (#203)
  React/Testing/Best practices.md
  React/Testing/Timers.md
  React/Testing/User actions.md
Owners: @kamdubiel

Update README
  README.md
Owners: @DarkoKukovec, @safo6m, @darrac, @fvoska

fix wording and examples on arrow functions
  Styleguide.md
Owners: @DarkoKukovec, @safo6m, @darrac, @fvoska

I do not agree, this practice makes it easier to see all variables used in the function
  Styleguide.md
Owners: @DarkoKukovec, @safo6m, @darrac, @fvoska

hoisting is too fundamental
  Styleguide.md
Owners: @DarkoKukovec, @safo6m, @darrac, @fvoska

revised childlish example
  Styleguide.md
Owners: @DarkoKukovec, @safo6m, @darrac, @fvoska

should give a reason why this is important
  Styleguide.md
Owners: @DarkoKukovec, @safo6m, @darrac, @fvoska

split into multiple examples, simplify examples, add reasoning
  Styleguide.md
Owners: @DarkoKukovec, @safo6m, @darrac, @fvoska

description had nothing to do with naming conventions
  Styleguide.md
Owners: @DarkoKukovec, @safo6m, @darrac, @fvoska

expand on variable naming
  Styleguide.md
Owners: @DarkoKukovec, @safo6m, @darrac, @fvoska

prettify
  Styleguide.md
Owners: @DarkoKukovec, @safo6m, @darrac, @fvoska

features folder caveat, revamp components section
  React/Project structure.md
Owners: @kamdubiel

use simpler example for .elements
  React/Project structure.md
Owners: @kamdubiel

provide additional best practices
  React/React Guidelines and Best Practices.md
Owners: @kamdubiel

React refactor (#206)
  React/Project structure.md
  React/React Guidelines and Best Practices.md
Owners: @kamdubiel

Add Remark configuration
  .remarkrc.yml
  .vscode/extensions.json
  .vscode/settings.json
  README.md
Owners: @DarkoKukovec, @safo6m, @darrac, @fvoska

Remove environments information
  README.md
Owners: @DarkoKukovec, @safo6m, @darrac, @fvoska

Update README and add Remark (#204)
  .remarkrc.yml
  .vscode/extensions.json
  .vscode/settings.json
  README.md
Owners: @DarkoKukovec, @safo6m, @darrac, @fvoska

replace single qith double quotes
  Styleguide.md
Owners: @DarkoKukovec, @safo6m, @darrac, @fvoska

Replace all npm scripts with pnpm
  Angular/Angular guidelines and best practices/Core libraries, configuration and tools.md
  Angular/Angular guidelines and best practices/DatX data store.md
  Changesets.md
  Code Quality/Tools.md
  Node/Managing Node-NPM versions.md
  Node/Node logging.md
  React Native/Project setup.md
  React Native/Styling.md
  React Native/Testing.md
  React/Chakra UI.md
  React/Recipes/Datx Store Provider.md
  React/Recipes/Error Handling.md
  React/Testing/Best practices.md
  Useful links.md
Owners: @fvoska, @DarkoKukovec, @veksi, @mislavmiocevic, @kamdubiel

Update Managing versions part
  Node/Managing Node-NPM versions.md
Owners: @DarkoKukovec

Add localization chapter
  Angular/Angular guidelines and best practices/Localization.md
Owners: @fvoska

Update grammar
  Angular/Angular guidelines and best practices/Localization.md
Owners: @fvoska

Update 'Getting started with Angular' sections
  Angular/Getting started with Angular/Get to know RxJS.md
  Angular/Getting started with Angular/Official documentation.md
  Angular/Getting started with Angular/Various online resources.md
Owners: @fvoska

Update 'Core libs and tools' section
  Angular/Angular guidelines and best practices/Core libraries, configuration and tools.md
Owners: @fvoska

Update 'Formatting, naming' section's links and syntax
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
Owners: @fvoska

Replace public with protected access modifiers
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
Owners: @fvoska

Update 'File and module organization and naming' section
  Angular/Angular guidelines and best practices/File and module organization and naming.md
Owners: @fvoska

Update 'Environments' section
  Angular/Angular guidelines and best practices/Environments.md
Owners: @fvoska

Refactor constructor injections to inject function
  Angular/Angular guidelines and best practices/Testing.md
  Angular/Server-side rendering (SSR)/Platform specific globals and providers.md
  Angular/Server-side rendering (SSR)/SEO and social media sharing.md
Owners: @mislavmiocevic, @kamdubiel, @fvoska

Update dependency injection section
  Angular/Angular guidelines and best practices/Dependency injection.md
Owners: @fvoska

Update SSR Links
  Angular/Angular guidelines and best practices/Angular Universal (server-side rendering).md
  Angular/Server-side rendering (SSR)/Introduction.md
  Angular/Server-side rendering (SSR)/Platform specific globals and providers.md
  Angular/Server-side rendering (SSR)/SEO and social media sharing.md
Owners: @fvoska

Various links updates
  Angular/Angular guidelines and best practices/Assets & caching.md
  Angular/Angular guidelines and best practices/DatX data store.md
  Angular/Angular guidelines and best practices/Dependency injection.md
  Angular/Angular guidelines and best practices/Testing.md
  Angular/Angular guidelines and best practices/Two-way binding.md
  Angular/Angular guidelines and best practices/Working with forms.md
  Angular/Server-side rendering (SSR)/Environment variables.md
  Angular/Server-side rendering (SSR)/Transfer state.md
Owners: @fvoska, @mislavmiocevic, @kamdubiel

Revise shared modules section
  Angular/Angular guidelines and best practices/Core libraries, configuration and tools.md
  Angular/Angular guidelines and best practices/File and module organization and naming.md
Owners: @fvoska

Write unsubscribing section
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
Owners: @fvoska

Replace mentions of ngLet custom directive
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
Owners: @fvoska

.github/CODEOWNERS:

# directories
Angular/** @fvoska
Code\ Quality/** @fvoska
Design/** @DarkoKukovec
Node/** @DarkoKukovec
React/** @kamdubiel
React\ Native/** @veksi
SASS\ Styleguide/** @fvoska

# individual files
Useful\ links.md @DarkoKukovec @fvoska
Accessibility.md @kamdubiel
Assets.md @kamdubiel
Email\ Templates.md @DarkoKukovec
How\ to\ CSS.md @DarkoKukovec @safo6m @darrac @fvoska
Predeployment\ checklist.md @DarkoKukovec
README.md @DarkoKukovec @safo6m @darrac @fvoska
Styleguide.md @DarkoKukovec @safo6m @darrac @fvoska
Vue.md @DarkoKukovec
intro.slim @DarkoKukovec @safo6m @darrac @fvoska
Auth.md @DarkoKukovec @kamdubiel
Testing.md @mislavmiocevic @kamdubiel
