Repository infinum/frontend-handbook, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fvoska, @DarkoKukovec, @kamdubiel, @veksi, @safo6m, @darrac, @mislavmiocevic

Add input transforms section
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
Owners: @fvoska

Update 'Formatting, naming' section's links and syntax
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
Owners: @fvoska

Write unsubscribing section
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
Owners: @fvoska

Refactor guard examples to functional ones and write new section
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
  Angular/Server-side rendering (SSR)/SEO and social media sharing.md
Owners: @fvoska

Update 'Environments' section
  Angular/Angular guidelines and best practices/Environments.md
Owners: @fvoska

Add deferrable views section
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
Owners: @fvoska

Rewrite DatX section
  Angular/Angular guidelines and best practices/DatX data store.md
Owners: @fvoska

Refactor constructor injections to inject function
  Angular/Angular guidelines and best practices/Testing.md
  Angular/Server-side rendering (SSR)/Platform specific globals and providers.md
  Angular/Server-side rendering (SSR)/SEO and social media sharing.md
Owners: @mislavmiocevic, @kamdubiel, @fvoska

Replace mentions of ngLet custom directive
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
Owners: @fvoska

Replace ExtractPublic implementation with the one in ngx-nuts-and-bolts
  Angular/Angular guidelines and best practices/Testing.md
Owners: @mislavmiocevic, @kamdubiel

Various links updates
  Angular/Angular guidelines and best practices/Assets & caching.md
  Angular/Angular guidelines and best practices/DatX data store.md
  Angular/Angular guidelines and best practices/Dependency injection.md
  Angular/Angular guidelines and best practices/Testing.md
  Angular/Angular guidelines and best practices/Two-way binding.md
  Angular/Angular guidelines and best practices/Working with forms.md
  Angular/Server-side rendering (SSR)/Environment variables.md
  Angular/Server-side rendering (SSR)/Transfer state.md
Owners: @fvoska, @mislavmiocevic, @kamdubiel

Add built in control flow section
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
Owners: @fvoska

Add typed forms section
  Angular/Angular guidelines and best practices/Working with forms.md
Owners: @fvoska

Replace public with protected access modifiers
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
Owners: @fvoska

Revise shared modules section
  Angular/Angular guidelines and best practices/Core libraries, configuration and tools.md
  Angular/Angular guidelines and best practices/File and module organization and naming.md
Owners: @fvoska

Remove SSR content and point to documentation
  Angular/Server-side rendering (SSR)/Environment variables.md
  Angular/Server-side rendering (SSR)/Introduction.md
Owners: @fvoska

Update 'File and module organization and naming' section
  Angular/Angular guidelines and best practices/File and module organization and naming.md
Owners: @fvoska

Update SSR Links
  Angular/Angular guidelines and best practices/Angular Universal (server-side rendering).md
  Angular/Server-side rendering (SSR)/Introduction.md
  Angular/Server-side rendering (SSR)/Platform specific globals and providers.md
  Angular/Server-side rendering (SSR)/SEO and social media sharing.md
Owners: @fvoska

Angular handbook revision (#215)
  Angular/Angular guidelines and best practices/Angular Universal (server-side rendering).md
  Angular/Angular guidelines and best practices/Assets & caching.md
  Angular/Angular guidelines and best practices/Core libraries, configuration and tools.md
  Angular/Angular guidelines and best practices/DatX data store.md
  Angular/Angular guidelines and best practices/Dependency injection.md
  Angular/Angular guidelines and best practices/Environments.md
  Angular/Angular guidelines and best practices/File and module organization and naming.md
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
  Angular/Angular guidelines and best practices/Testing.md
  Angular/Angular guidelines and best practices/Two-way binding.md
  Angular/Angular guidelines and best practices/Working with forms.md
  Angular/Getting started with Angular/Get to know RxJS.md
  Angular/Getting started with Angular/Official documentation.md
  Angular/Getting started with Angular/Various online resources.md
  Angular/Server-side rendering (SSR)/Environment variables.md
  Angular/Server-side rendering (SSR)/Introduction.md
  Angular/Server-side rendering (SSR)/Platform specific globals and providers.md
  Angular/Server-side rendering (SSR)/SEO and social media sharing.md
  Angular/Server-side rendering (SSR)/Transfer state.md
Owners: @fvoska, @mislavmiocevic, @kamdubiel

Refactor Loggin chapter
  Logging.md
  Node/Node logging.md
Owners: @DarkoKukovec

Add GitHub Actions Gotchas in Changesets chapter
  Changesets.md
Owners: none

Add GitHub Actions Gotchas in Changesets chapter (#220)
  Changesets.md
Owners: none

Refactor Loggin chapter (#219)
  Logging.md
  Node/Node logging.md
Owners: @DarkoKukovec

Fix typo
  React/Recipes/React Concurrency.md
Owners: @kamdubiel

Update useTransition example snippet
  React/Recipes/React Concurrency.md
Owners: @kamdubiel

Update intro with useDeferredValue hook
  React/Recipes/React Concurrency.md
Owners: @kamdubiel

Add React concurrency chapter (#217)
  React/Recipes/React Concurrency.md
Owners: @kamdubiel

Add NextAuth chapter
  React/Project structure.md
  React/Recipes/Next Auth.md
Owners: @kamdubiel

Add SSR performance testing chapter
  React/Testing/SSR performance.md
  img/performance-testing/example-output.png
  img/performance-testing/load-test.png
  img/performance-testing/scalability-test.png
  img/performance-testing/soak-test.png
  img/performance-testing/spike-test.png
  img/performance-testing/stress-test.png
Owners: @kamdubiel

Use better code example
  React/Testing/SSR performance.md
Owners: @kamdubiel

SSR performance testing chapter (#222)
  React/Testing/SSR performance.md
  img/performance-testing/example-output.png
  img/performance-testing/load-test.png
  img/performance-testing/scalability-test.png
  img/performance-testing/soak-test.png
  img/performance-testing/spike-test.png
  img/performance-testing/stress-test.png
Owners: @kamdubiel

Improve Next auth chapter
  React/Recipes/Next Auth.md
Owners: @kamdubiel

Add NextAuth chapter (#221)
  React/Project structure.md
  React/Recipes/Next Auth.md
Owners: @kamdubiel

Add missing export in Next Auth chapter
  React/Recipes/Next Auth.md
Owners: @kamdubiel

Add missing export in Next Auth chapter (#223)
  React/Recipes/Next Auth.md
Owners: @kamdubiel

Add Tailwind chapters
  React/Tailwind/Best practices.md
  React/Tailwind/Intro.md
  React/Tailwind/ShadCN.md
Owners: @kamdubiel

Rename Shadcn chapter
  React/Tailwind/Shadcn.md
Owners: @kamdubiel

Apply changes from comments
  React/Tailwind/Best practices.md
Owners: @kamdubiel

Add Tailwind chapters (#224)
  React/Tailwind/Best practices.md
  React/Tailwind/Intro.md
  React/Tailwind/ShadCN.md
Owners: @kamdubiel

Rename Shadcn chapter
  React/Tailwind/Shadcn.md
Owners: @kamdubiel

.github/CODEOWNERS:

# directories
Angular/** @fvoska
Code\ Quality/** @fvoska
Design/** @DarkoKukovec
Node/** @DarkoKukovec
React/** @kamdubiel
React\ Native/** @veksi
SASS\ Styleguide/** @fvoska

# individual files
Useful\ links.md @DarkoKukovec @fvoska
Accessibility.md @kamdubiel
Assets.md @kamdubiel
Email\ Templates.md @DarkoKukovec
How\ to\ CSS.md @DarkoKukovec @safo6m @darrac @fvoska
Predeployment\ checklist.md @DarkoKukovec
README.md @DarkoKukovec @safo6m @darrac @fvoska
Styleguide.md @DarkoKukovec @safo6m @darrac @fvoska
Vue.md @DarkoKukovec
intro.slim @DarkoKukovec @safo6m @darrac @fvoska
Auth.md @DarkoKukovec @kamdubiel
Testing.md @mislavmiocevic @kamdubiel
