Repository infinum/frontend-handbook, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fvoska, @DarkoKukovec, @kamdubiel, @veksi, @safo6m, @darrac, @mislavmiocevic

Update React Project structure article for app router
  React/Project structure.md
Owners: @kamdubiel

Move snippets in list
  React/Project structure.md
Owners: @kamdubiel

Move snippets outside lists
  React/Project structure.md
Owners: @kamdubiel

Trying to hack snippet in list
  React/Project structure.md
Owners: @kamdubiel

Remove snippets from lists
  React/Project structure.md
Owners: @kamdubiel

Improve Email Templates chapter
  Email Templates.md
Owners: @DarkoKukovec

Use snippet for example image absolute url
  Email Templates.md
Owners: @DarkoKukovec

Add more best practices
  React/React Guidelines and Best Practices.md
Owners: @kamdubiel

Fix Project Structure link
  React/React Guidelines and Best Practices.md
Owners: @kamdubiel

Fix typo
  React/React Guidelines and Best Practices.md
Owners: @kamdubiel

Another fix for the Project Structure link
  React/React Guidelines and Best Practices.md
Owners: @kamdubiel

Wrap layout.tsx with ``
  React/Project structure.md
Owners: @kamdubiel

Add (root) page group for app router structure
  React/Project structure.md
Owners: @kamdubiel

Add caching and revalidation article
  React/Recipes/Caching and revalidation.md
Owners: @kamdubiel

Update React Project structure article for app router (#212)
  React/Project structure.md
Owners: @kamdubiel

Add more React best practices (#214)
  React/React Guidelines and Best Practices.md
Owners: @kamdubiel

Improve Email Templates chapter (#213)
  Email Templates.md
Owners: @DarkoKukovec

Add emojis
  React/Recipes/Caching and revalidation.md
Owners: @kamdubiel

Fix typos and add some md styling
  React/Recipes/Caching and revalidation.md
Owners: @kamdubiel

Update Data fetching section
  React/Recipes/Caching and revalidation.md
Owners: @kamdubiel

Fix code snippets
  React/Recipes/Caching and revalidation.md
Owners: @kamdubiel

Add React concurrency chapter
  React/Recipes/React Concurrency.md
Owners: @kamdubiel

Add React concurrency chapter
  React/Recipes/React Concurrency.md
Owners: @kamdubiel

Move list title outside note
  React/Recipes/React Concurrency.md
Owners: @kamdubiel

Add examples to changesets chapter
  Changesets.md
Owners: none

Slightly change interactive prompt list styling
  Changesets.md
Owners: none

Slightly change interactive prompt list styling
  Changesets.md
Owners: none

Add commiting note
  Changesets.md
Owners: none

Hack automatic list
  Changesets.md
Owners: none

Add more links to used APIs
  React/Recipes/Caching and revalidation.md
Owners: @kamdubiel

Add caching and revalidation article (#216)
  React/Recipes/Caching and revalidation.md
Owners: @kamdubiel

Add examples to Changesets chapter (#218)
  Changesets.md
Owners: none

Update 'Getting started with Angular' sections
  Angular/Getting started with Angular/Get to know RxJS.md
  Angular/Getting started with Angular/Official documentation.md
  Angular/Getting started with Angular/Various online resources.md
Owners: @fvoska

Add standalone component routing
  Angular/Angular guidelines and best practices/File and module organization and naming.md
Owners: @fvoska

Add route param component bindings
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
Owners: @fvoska

Update dependency injection section
  Angular/Angular guidelines and best practices/Dependency injection.md
Owners: @fvoska

Add ngSrc directive section
  Angular/Angular guidelines and best practices/Assets & caching.md
Owners: @fvoska

Rewrite interface over type section
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
Owners: @fvoska

Add self closing tags section
  Angular/Angular guidelines and best practices/Formatting, naming and best practices.md
Owners: @fvoska

Update 'Core libs and tools' section
  Angular/Angular guidelines and best practices/Core libraries, configuration and tools.md
Owners: @fvoska

.github/CODEOWNERS:

# directories
Angular/** @fvoska
Code\ Quality/** @fvoska
Design/** @DarkoKukovec
Node/** @DarkoKukovec
React/** @kamdubiel
React\ Native/** @veksi
SASS\ Styleguide/** @fvoska

# individual files
Useful\ links.md @DarkoKukovec @fvoska
Accessibility.md @kamdubiel
Assets.md @kamdubiel
Email\ Templates.md @DarkoKukovec
How\ to\ CSS.md @DarkoKukovec @safo6m @darrac @fvoska
Predeployment\ checklist.md @DarkoKukovec
README.md @DarkoKukovec @safo6m @darrac @fvoska
Styleguide.md @DarkoKukovec @safo6m @darrac @fvoska
Vue.md @DarkoKukovec
intro.slim @DarkoKukovec @safo6m @darrac @fvoska
Auth.md @DarkoKukovec @kamdubiel
Testing.md @mislavmiocevic @kamdubiel
