Repository infinum/frontend-handbook, pull requests merged in 2021-02, with the labels that each got.

#79 Project structure
  React/NextJs/ProjectStructure.md
Labels: react

#75 react/chakra-ui
  React/CSS-in-JS/Chakra.md
Labels: react

#89 Testing best practices
  React/Testing best practices.md
Labels: react

#78 Update React guidelines and best practices
  React/React Guidelines and Best Practices (outdated).md
  React/React Guidelines and Best Practices.md
Labels: react

#57 Restructure react handbook
  React/CSS-in-JS/Chakra.md
  React/Common SSR errors.md
  React/Getting started with React.md
  React/Introduction.md
  React/Libraries.md
  React/Next/Introduction.md
  React/Next/POC.md
  React/Project structure.md
  React/React Guidelines and Best Practices.md
  React/Testing best practices.md
Labels: In progress, react

#88 Feature/angular assets caching
  Angular/Angular guidelines and best practices/Assets caching.md
Labels: general
